venv
images
videos
voices
result
.DS_Store
output/
__pycache__/
.env
result/
.venv
.nenv
.venv/
env/
video_creation.log
video_generation.log
media_storage/
flux_FINAL_VIDEOTEMP_MPY_wvf_snd.mp4
temp/
audio_result/
*.mp3
.cache/
old_files/
bin/
